body {
    margin: 0px;
    height: auto;    
}
header {
    display: flex;
    background-color: #579c87;
    height: 10%;
}
h1 {
    font-family:'Kanit', sans-serif;
    font-size: 5.5em;
    font-weight:bold;
    color: #fdcb46;
    margin: auto;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
section {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 450px;
    height: 100px;
    border-radius: 20px;
    background-color: #579c87;
    line-height: 60px;
}
/* Le footer visible fixe */

footer {
    display: inline;
    position: fixed;
    margin-top: auto;
    height: 7%;
    bottom: 0%;
    width:100%;
    background-color: #579c87;
    line-height: 50px;
}
/* Les liens des menus du site */

.button1, .button2, .button3, .button4{
    height: 650px;
    width: 550px;
    border: none;
    cursor: pointer; 
    text-decoration: none;
}
.cadre{
    margin-top: 5%;
    box-shadow: 0px 0px 10px rgb(197, 196, 196);
    height: 650px;
    width: 550px;
    overflow: hidden;
    display: flex;
}

/* Les différentes Polices des liens "Menu" */
.button1 p{
    padding-top: 30%;
    font-family: 'Devonshire', cursive;
}
.button1 span {
    font-family: 'Sriracha', cursive;
}
.button2 span {
    font-family: 'Redressed', cursive;
    background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button2 p{
    padding-top:40%;
    color: #c77412;
    font-family: 'Cantata One', serif;
}
.button3 span{
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to right, #0431df 0%, #0887fb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button3 p {
    padding-top: 40%;
    color: #1789f9;
    font-family: 'Kalam', cursive;
}
.button4 span{
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(to right, #42973c 0%, #bfff7e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button4 p{
    padding-top: 40%;
    color: #72bf56;
    font-family: 'Kalam', cursive;
}
.fas{
    background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.button1{
    background-color: #fcdfdb;
    color: #3c1218;
    font-size: 3em;
    text-align: center;
}
.button2 {
    background-color: #fff5fe;
    color: #3c1218;
    font-size: 3em;
    text-align: center;
}
.button3 {
    background-color: #f9f9f9;
    color: #3c1218;
    font-size: 3em;
    text-align: center;
}
.button4 {
    background-color: #fdfffd;
    color: #3c1218;
    font-size: 3em;
    text-align: center;
}
/* Les animations CSS */
.button1, .button2, .button3, .button4 {
    transition: transform .4s ease;
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover{
    transform: scale(1.15); 
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
}
.loader__dot{
    font-size: 2em;
}
@keyframes blink {80% { color: transparent }}
.loader__dot { animation: 1.5s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }
  
.rubrique:hover{ 
    animation: wiggle 100ms infinite;
    animation-timing-function: linear;   
  }
  @keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}

/* Le bouton Prochainement */

.prochainement {
    color: #fdcb46;
    font-family:'Kanit', sans-serif;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    cursor: pointer; 
}
/* Les Rubriques */
.rubrique1 {
    float: left;
    margin-left: 2%;
    color: #fdcb46;
    font-family:'Kanit', sans-serif;
    font-size: 1.7em;
    text-decoration: none;
    cursor: pointer; 
}
.rubrique2 {
    margin-right: 2%;
    float: right;
    color: #fdcb46;
    font-family:'Kanit', sans-serif;
    font-size: 1.7em;
    text-decoration: none;
    cursor: pointer; 
}
/* Lien des Mentions légales (mentionslegales.html) */
.texte h3 {
    color: black;
    font-family:'Kanit', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: auto;
}
.texte {
    color: black;
    font-family:'Kanit', sans-serif;
    font-size: 1em;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}
.texte h4 {
    color: rgb(75, 73, 73);
    font-family:'Kanit', sans-serif;
    font-size: 2em;
    text-align: center;
}
.important {
    text-align: center;
}
hr {
    border: 2px solid #579c87;
    width: 100%;
    margin: 0px;
}

/* lanoteenchantee.html */
.intro{
    margin-top: 90px;
    color: #353535;
    font-family:'Kanit', sans-serif;
    font-size: 3em;
    font-weight: bold; 
}
.lanote {
    text-align: center;
    background-color: #fcdfdb;
    height: 1684px;
    width: 1190px;
    box-shadow: 0px 0px 10px rgb(197, 196, 196);
    border: none;
    margin-top: 30px;
}
.lanote .fas {
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
    background: linear-gradient(to right, #f15861 0%, #f78f6a 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lanote .titre{
    font-weight: lighter;
    font-family: 'Devonshire', cursive;
    color: #3c1218;
    font-size: 3em;
    text-align: center;
}
.lanote .soustitre{
    display: inline;
    font-family: 'Paprika', cursive;
    color: #3c1218;
    font-size: 2em;   
    cursor: pointer;
    border:none;
    background:linear-gradient(to top, #f6916a 0%,#f6916a 3px, transparent 6px) no-repeat;
    background-size:0 100%;
    border-radius: 5px;
    transition: background-size .5s ease-in-out; 
}
.lanote .soustitre1{ 
    display: inline;
    font-family: 'Paprika', cursive;
    color: #3c1218;
    font-size: 2em;  
    cursor: pointer;
    border:none;
    background:linear-gradient(to top, #f6916a 0%,#f6916a 3px, transparent 5px) no-repeat;
    background-size:0 100%;
    border-radius: 5px;
    transition: background-size .5s ease-in-out;
}
.lanote .soustitre2{
    display: inline;
    font-family: 'Paprika', cursive;
    color: #3c1218;
    font-size: 2em;
    cursor: pointer;
    border:none;
    background:linear-gradient(to top, #f6916a 0%,#f6916a 3px, transparent 5px) no-repeat;
    background-size:0 100%;
    border-radius: 5px;
    transition: background-size .5s ease-in-out;  
}
.soustitre:hover,.soustitre1:hover,.soustitre2:hover{
    background-size: 100% 100% ;
}
#trait1{
    width: 27%;
    float: left;
    padding-left: 90px;
}
#trait2{
    width: 27%;
    float: right;
    padding-right: 90px;
}
.lanote p{
    text-align: initial;
    display: left;
    padding-left: 90px;
    line-height: 50px;
    font-weight: lighter;
    font-family: 'Paprika', cursive;
    color: #3c1218;
    font-size: 1.5em;
}
.prix{
    float: right;
    font-weight: bold;
    padding-right: 90px;
}
.prix::after{
    content: "€";
}
.lanote .titre2{
    font-weight: lighter;
    font-family: 'Devonshire', cursive;
    color: #3c1218;
    font-size: 3em;
    text-align: center;
}
/* lechicalafrancaise.html */

.lechic {
    text-align: center;
    background-color: #fff5fe;
    height: 1684px;
    width: 1190px;
    box-shadow: 0px 0px 10px rgb(197, 196, 196);
    border: none;
    margin-top: 30px;
}
.lechic .titre{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Redressed', cursive;
    background: linear-gradient(to right, #e38913 0%, #8f5bfe 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
}
.lechic .soustitre{
    display: inline;
    font-family: 'Cantata One', serif;
    font-weight: lighter;
    color: #e38913;
    font-size: 2em;   
    cursor: pointer;
    border:none;
    background:linear-gradient(to top, #e38913 0%,#e38913 3px, transparent 6px) no-repeat;
    background-size:0 100%;
    border-radius: 5px;
    transition: background-size .5s ease-in-out; 
}
.lechic .soustitre1{
    display: inline;
    font-family: 'Cantata One', serif;
    font-weight: lighter;
    color: #a56799;
    font-size: 2em;  
    cursor: pointer;
    border:none;
    background:linear-gradient(to top, #a56799 0%,#a56799 3px, transparent 5px) no-repeat;
    background-size:0 100%;
    border-radius: 5px;
    transition: background-size .5s ease-in-out;
}
.lechic .soustitre2{
    display: inline;
    font-family: 'Cantata One', serif;
    font-weight: lighter;
    color: #6e4ccc;
    font-size: 2em;
    cursor: pointer;
    border:none;
    background:linear-gradient(to top, #6e4ccc 0%,#6e4ccc 3px, transparent 5px) no-repeat;
    background-size:0 100%;
    border-radius: 5px;
    transition: background-size .5s ease-in-out;  
}
.soustitre:hover,.soustitre1:hover,.soustitre2:hover{
    background-size: 100% 100% ;
}
#trait21{
    width: 30%;
    float: left;
    padding-left: 10px;
}
#trait22{
    width: 30%;
    float: right;
    padding-right: 10px;
}
.lechic .p1{
    text-align: initial;
    display: left;
    padding-left: 110px;
    line-height: 70px;
    font-family: 'Cantata One', serif;
    color: #e38913;
    font-size: 2em;
}
.lechic .p2{
    text-align: initial;
    display: left;
    padding-left: 110px;
    line-height: 70px;
    font-family: 'Cantata One', serif;
    color: #a56799;
    font-size: 2em;
}
.lechic .p3{
    text-align: initial;
    display: left;
    padding-left: 110px;
    line-height: 70px;
    font-family: 'Cantata One', serif;
    color: #6e4ccc;
    font-size: 2em;
}
.lechi .prix{
    float: right;
    padding-right: 110px;
}
    
    /* RESPONSIVE DESIGN */

/* Tablettes */


@media only screen and (max-width: 991px) {
    main{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    h1{
        font-size:2em;
    }
    .button1, .button2, .button3, .button4{
        height: 400px;
        width: 350px;
        font-size: 1.5em;
    }
    .cadre{
        margin-top: 5%;
        box-shadow: 0px 0px 10px rgb(197, 196, 196);
        height: 400px;
        width: 350px;
        overflow: hidden;
        display: flex;
    }
    .prochainement{
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 90px;
    }
    section {
        width: 200px;
        height:50px ;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 90px;
        line-height: 40px;
    } 
    .rubrique1, .rubrique2{
        font-size: 1em;
    }
    /*mentionslegales.html*/
.texte h3 {
    font-size: 1.5em;
    margin: auto
}
.texte {
    font-size: 0.8em;
}
.texte h4 {
    font-size: 1.2em;
}
hr {
    border: 2px solid #579c87;
    width: 100%;
    margin: 0px;
}
/* lanoteenchantee.html */

.intro{
    margin:auto;
    margin-top: 20px;
    font-size: 1.5em; 
    text-align: center;
}
.lanote {
    margin: auto;
    height: 720px;
    width: 550px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.lanote .fas {
    padding-top: 2%;
    font-size: 1em;
}
.lanote .titre{
    font-size: 1.8em;
}
.lanote .soustitre{
    font-size: 0.8em;   
}
.lanote .soustitre1{
    font-size: 0.8em; 
}
.lanote .soustitre2{
    font-size: 0.8em; 
}
.lanote p{
    line-height: 20px;
    font-size: 0.5em;
}
.lanote .titre2{
    font-size: 2em;
}
#trait1,#trait2{
    width: 23%;
}
/* lechicalafrancaise.html */

.lechic {
    margin: auto;
    height: 720px;
    width: 550px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.lechic .titre{
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.8em;
}
.lechic .soustitre,.lechic .soustitre1,.lechic .soustitre2{
    font-size: 0.9em;   
    background: none;
}
.lechic .p1,.lechic .p2,.lechic .p3{
    line-height: 30px;
    font-size: 0.7em;
}
#trait21,#trait22{
    width: 25%;
}
}
/* Smartphones */
@media only screen and (max-width: 425px) {
    h1{
        font-size:2em;
    }
    .button1, .button2, .button3, .button4{
        margin: auto;
        height: 250px;
        width: 200px;
        font-size: 1em;
    }
    .cadre{
        margin: auto;
        margin-top: 5%;
        box-shadow: 0px 0px 10px rgb(197, 196, 196);
        height: 250px;
        width: 200px;
        overflow: hidden;
        display: flex;
    }
    header {
        display: flex;
        background-color: #579c87;
        height: 5%;
    }
    main{
        display: flex;
        flex-direction: column
    }
/*mentionslegales.html*/
.texte h3 {
    font-size: 1.5em;
    margin: auto
}
.texte {
    font-size: 0.7em;
}
.texte h4 {
    font-size: 1em;
}
hr {
    border: 2px solid #579c87;
    width: 100%;
    margin: 0px;
}
/* lanoteenchantee.html */

.intro{
    text-align: center;
    margin-top: 20px;
    font-size: 1em; 
}
.lanote {
    height: 420px;
    width: 300px;
}
.lanote .fas {
    font-size: 0.9em;
}
.lanote .titre{
    font-size: 1.2em;
}
.lanote .soustitre,.lanote .soustitre1, .lanote .soustitre2{
    font-size: 0.5em;   
}
.lanote p{
    line-height: 12px;
    font-size: 0.3em;
    padding-left: 30px;
}
.prix{
    float: right;
    font-weight: bold;
    padding-right: 30px;
}
.lanote .titre2{
    font-size: 1em;
}
#trait1{
    width: 20%;
    padding-left: 30px;
}
#trait2{
    width: 20%;
    padding-right: 30px;
}
/* lechicalafrancaise.html */

.lechic {
    height: 420px;
    width: 300px;
}
.lechic .titre{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
}
.lechic .soustitre,.lechic .soustitre1,.lechic .soustitre2{
    font-size: 0.5em;  
    background: none;
}
.lechic .p1,.lechic .p2,.lechic .p3{
    padding-left: 30px;
    line-height: 15px;
    font-size: 0.4em;
}
#trait21,#trait22{
    width: 20%;
}

}